GithubCommit-2ktL9aGqWLAZ43mw (2) (2).json
[
  {
    "updatedAt": "2025-11-20T05:40:26.000Z",
    "createdAt": "2025-11-17T17:17:51.484Z",
    "id": "2ktL9aGqWLAZ43mw",
    "name": "GithubCommit",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          432,
          -48
        ],
        "id": "63e5fc0f-48fe-4420-ba41-8b75c980f9de",
        "name": "toBase64"
      },
      {
        "parameters": {
          "operation": "toJson",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          208,
          -48
        ],
        "id": "cecbed71-f7e6-4c87-bb1f-cca19fe9226d",
        "name": "JSON File"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "AbhiXO1",
            "mode": "list",
            "cachedResultName": "AbhiXO1",
            "cachedResultUrl": "https://github.com/AbhiXO1"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_Workflows",
            "mode": "list",
            "cachedResultName": "n8n_Workflows",
            "cachedResultUrl": "https://github.com/AbhiXO1/n8n_Workflows"
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          592,
          -48
        ],
        "id": "314843ef-eac7-4c4f-889f-471d2861b42b",
        "name": "List files",
        "webhookId": "55955540-948c-4a3f-b4ae-0458aa4b7aa7",
        "credentials": {
          "githubApi": {
            "id": "Nvm4gjad5F1Q8IKo",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "github_file_names",
          "include": "specifiedFields",
          "fieldsToInclude": "name",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          800,
          -48
        ],
        "id": "3800b138-5907-47c3-8b64-19aac9b404ac",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "3d5865ee-ed14-4e61-9c2e-e0dbe2754029",
                "leftValue": "={{ $('Aggregate').item.json.github_file_names }}",
                "rightValue": "={{ $json.github_file_name }}",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1296,
          -48
        ],
        "id": "a08ee890-63d2-4ec3-91fb-a2b37e8afad1",
        "name": "found in github"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "AbhiXO1",
            "mode": "list",
            "cachedResultName": "AbhiXO1",
            "cachedResultUrl": "https://github.com/AbhiXO1"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_Workflows",
            "mode": "list",
            "cachedResultName": "n8n_Workflows",
            "cachedResultUrl": "https://github.com/AbhiXO1/n8n_Workflows"
          },
          "filePath": "={{ $('workfow_id').item.json.github_file_name }}",
          "asBinaryProperty": false,
          "additionalParameters": {
            "reference": ""
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1520,
          -144
        ],
        "id": "12a285a2-5614-46ed-b844-2fe4ae021048",
        "name": "Get a file",
        "webhookId": "223af421-33a8-4422-8eb0-c0285e97c262",
        "credentials": {
          "githubApi": {
            "id": "4j4OWSu3nfo9l5nw",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "ba9f4899-f074-4d84-aee2-e59d5d458e0d",
                "leftValue": "={{ $json.content.replace(/\\n/g, '') }}",
                "rightValue": "={{ $('toBase64').item.json.data }}",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1744,
          -144
        ],
        "id": "a35cbb21-fdd9-47ad-b91b-27347b162a55",
        "name": "If"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "AbhiXO1",
            "mode": "list",
            "cachedResultName": "AbhiXO1",
            "cachedResultUrl": "https://github.com/AbhiXO1"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_Workflows",
            "mode": "list",
            "cachedResultName": "n8n_Workflows",
            "cachedResultUrl": "https://github.com/AbhiXO1/n8n_Workflows"
          },
          "filePath": "={{ $('workfow_id').item.json.github_file_name }}",
          "fileContent": "={{ $('toBase64').item.json.data }}",
          "commitMessage": "={{ $('workfow_id').item.json.Name }}-{{ $('Get a workflow1').item.json.id }}-{{ $('Get a workflow1').item.json.updatedAt }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1520,
          48
        ],
        "id": "d7bc1bea-3e56-409b-8b0a-5b65fc02a881",
        "name": "Create a file",
        "webhookId": "6e80c736-77cf-470b-8afd-d6075d6a12d8",
        "credentials": {
          "githubApi": {
            "id": "4j4OWSu3nfo9l5nw",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "AbhiXO1",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n_Workflows",
            "mode": "list",
            "cachedResultName": "n8n_Workflows",
            "cachedResultUrl": "https://github.com/AbhiXO1/n8n_Workflows"
          },
          "filePath": "={{ $('workfow_id').item.json.github_file_name }}",
          "fileContent": "={{ $('toBase64').item.json.data }}",
          "commitMessage": "={{ $('workfow_id').item.json.Name }}-{{ $('workfow_id').item.json.Workflow_id }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2032,
          -48
        ],
        "id": "59bf093a-5e4b-4ad0-8183-f2cfcf62c547",
        "name": "Edit a file",
        "webhookId": "312ae936-7483-438a-8ca4-5ab6a7e8b5d3",
        "credentials": {
          "githubApi": {
            "id": "4j4OWSu3nfo9l5nw",
            "name": "GitHub account 2"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "57d34437-a010-4c2a-b4e2-2bfede85a31e",
                "name": "Name",
                "value": "={{ $('Get a workflow1').item.json.name }}",
                "type": "string"
              },
              {
                "id": "8edea4b4-ae31-4926-a643-e5b22d34a425",
                "name": "Workflow_id",
                "value": "={{ $('Get a workflow1').item.json.id }}",
                "type": "string"
              },
              {
                "id": "77a9ae8b-25a3-4823-8999-9ad0ad40b8c0",
                "name": "github_file_name",
                "value": "={{ $('Get a workflow1').item.json.name }}-{{ $('Get a workflow1').item.json.id }}.json",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1072,
          -48
        ],
        "id": "504bbbea-7c7c-4007-b4f1-f4796aa678a7",
        "name": "workfow_id"
      },
      {
        "parameters": {
          "content": "###Get the current workflow\n",
          "height": 352,
          "width": 880
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          576,
          -240
        ],
        "id": "deeee1ba-c345-43d3-bf85-4696e414813d",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -720,
          240
        ],
        "id": "4c18d4e4-f642-436b-9ca5-4b7be9283046",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "filters": {
            "activeWorkflows": true
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -496,
          240
        ],
        "id": "3acf7672-0918-420d-9430-f67ab0b41dff",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "qXIEDsjNQ7Mnc3z1",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "reset": "={{ $node[\"Loop Over Items\"].context[\"done\"] }}"
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -272,
          240
        ],
        "id": "514b73dc-f908-4e4c-8562-890f5fe8af34",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "={{ $json[\"id\"] }}",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -48,
          -48
        ],
        "id": "ca210f7a-c5da-4fde-9a92-db0cb387b05d",
        "name": "Get a workflow1",
        "credentials": {
          "n8nApi": {
            "id": "qXIEDsjNQ7Mnc3z1",
            "name": "n8n account"
          }
        }
      }
    ],
    "connections": {
      "JSON File": {
        "main": [
          [
            {
              "node": "toBase64",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "toBase64": {
        "main": [
          [
            {
              "node": "List files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "workfow_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "found in github": {
        "main": [
          [
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit a file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "workfow_id": {
        "main": [
          [
            {
              "node": "found in github",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Get a workflow1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a workflow1": {
        "main": [
          [
            {
              "node": "JSON File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit a file": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a file": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {
      "Schedule Trigger": [
        {
          "json": {
            "timestamp": "2025-11-19T12:19:15.257+05:30",
            "Readable date": "November 19th 2025, 12:19:15 pm",
            "Readable time": "12:19:15 pm",
            "Day of week": "Wednesday",
            "Year": "2025",
            "Month": "November",
            "Day of month": "19",
            "Hour": "12",
            "Minute": "19",
            "Second": "15",
            "Timezone": "Asia/Calcutta (UTC+05:30)"
          }
        }
      ]
    },
    "versionId": "9be5314a-184b-48cb-b96b-4dd663a6f98e",
    "versionCounter": 66,
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2025-11-17T17:17:51.501Z",
        "createdAt": "2025-11-17T17:17:51.501Z",
        "role": "workflow:owner",
        "workflowId": "2ktL9aGqWLAZ43mw",
        "projectId": "Re5kQQCYsWHdscPF",
        "project": {
          "updatedAt": "2025-11-17T16:24:07.060Z",
          "createdAt": "2025-11-17T16:14:14.672Z",
          "id": "Re5kQQCYsWHdscPF",
          "name": "Abhishek Shetty <abhishek.shetty@brillio.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "projectRelations": [
            {
              "updatedAt": "2025-11-17T16:14:14.672Z",
              "createdAt": "2025-11-17T16:14:14.672Z",
              "userId": "14dcc9a0-8ecc-4996-9fbd-94a1e7509958",
              "projectId": "Re5kQQCYsWHdscPF",
              "user": {
                "updatedAt": "2025-11-20T05:05:50.000Z",
                "createdAt": "2025-11-17T16:14:13.761Z",
                "id": "14dcc9a0-8ecc-4996-9fbd-94a1e7509958",
                "email": "abhishek.shetty@brillio.com",
                "firstName": "Abhishek",
                "lastName": "Shetty",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-11-17T16:25:10.994Z",
                  "personalization_survey_n8n_version": "1.119.2",
                  "automationGoalDevops": [
                    "other"
                  ],
                  "companySize": "1000+",
                  "companyType": "saas",
                  "role": "it",
                  "reportedSource": "friend"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "2ktL9aGqWLAZ43mw",
                  "userActivatedAt": 1763447775530,
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2025-11-20",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": []
  }
]