GithubCommit-OskoTyMRJ1bB3r7Q (1).json
{
  "name": "Github Commit",
  "nodes": [
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        680,
        600
      ],
      "id": "5d7d6639-6bbb-47ab-a359-f4affe1502ae",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "YEg21SkQWfU5xHVM",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n    {\n\t\t\"fieldLabel\": \"Select a project\",\n\t\t\"fieldType\": \"dropdown\",\n\t\t\"fieldOptions\": {\n\t\t\t\"values\":{{ JSON.stringify($json.values.map(item=>({'option':item.name}))) }}\n\t\t},\n\t\t\"requiredField\": true\n\t}\n]",
        "options": {
          "formTitle": "Select a Project for version control"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1040,
        660
      ],
      "id": "af0b6dc3-b5ba-4f12-97e3-3071a59d982c",
      "name": "Form",
      "webhookId": "44f6854d-4cda-4b7d-8642-ad893354d296"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').item.json.formQueryParameters && $('On form submission').item.json.formQueryParameters.id != null  }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "5a839b58-075d-4537-ad22-2572bdef2c44"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "selected_project"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        500,
        420
      ],
      "id": "cd88cfbe-c07e-4d17-880a-2ac52bb20d27",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2514ed01-ff5d-43bb-90c1-a676c7af0a75",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        800,
        660
      ],
      "id": "db7a0371-f3f8-4bc1-b0e6-85c9dd5aca9c",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Project Not Foound",
        "completionMessage": "=Your project  \"{{ $('On form submission').item.json.formQueryParameters.name }}\" doesn't exist.",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1600,
        540
      ],
      "id": "78900ea9-ce88-4baa-8856-b997c6d58ef2",
      "name": "Project not found",
      "webhookId": "73c34803-3b2e-49f8-b569-2d468ad4e2b9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da7a365b-0d75-464d-918e-ac6af190146d",
              "name": "id",
              "value": "={{ $('Find by project id').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e4d6ee3d-613b-47d4-9e06-132de75dd609",
              "name": "name",
              "value": "={{ $('Find by project id').item.json.name }}",
              "type": "string"
            },
            {
              "id": "0ab5fac1-354b-4cea-bc71-fb62a153cefe",
              "name": "github_file_name",
              "value": "={{ $('Find by project id').item.json.name }}-{{ $('Find by project id').item.json.id }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        360
      ],
      "id": "f4e1b3d4-0d64-4414-823f-212857e9885e",
      "name": "Workflow Values"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Commit the new workflow?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "=New project found",
          "formDescription": "=Project: \"{{$('Workflow Values').item.json.github_file_name}}\"\n\nThe project is not found in Github. Want to start a new project commit?"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        2320,
        680
      ],
      "id": "b93f5469-fb81-46e0-a562-d12194bbdfa2",
      "name": "Commit as New",
      "webhookId": "c476e4ea-2b70-4185-8b0b-f45065a2b6a2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Commit the new workflow?'] }}",
                    "rightValue": "Yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b814b0e5-b09d-47eb-838f-f8d8b77f5047"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2480,
        680
      ],
      "id": "ddf1f420-233b-4eeb-8bb6-8c00b936daea",
      "name": "Is commit new"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1600,
        360
      ],
      "id": "d33bdba3-19ff-454a-a7a4-52707d3cc9ab",
      "name": "JSON File"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1760,
        360
      ],
      "id": "921d8a24-f093-4164-b425-5f55769130c9",
      "name": "To Base64"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "alvinscloud-demo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/alvinscloud-demo/n8n_workflows"
        },
        "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
        "fileContent": "={{ $('To Base64').item.json.data }}",
        "commitMessage": "={{ $json['Commit comment'] }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2840,
        260
      ],
      "id": "70fe34d7-2ae6-4b07-88e2-47c3ba38d818",
      "name": "Update File",
      "webhookId": "7807fe16-db54-4c7d-936b-d61e7909061a",
      "credentials": {
        "githubApi": {
          "id": "Fl2CByOL57cxmHm5",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "alvinscloud-demo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/alvinscloud-demo/n8n_workflows"
        },
        "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
        "asBinaryProperty": false,
        "additionalParameters": {
          "reference": ""
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2320,
        360
      ],
      "id": "13124bde-0bfa-4811-bcee-259cb794cc2b",
      "name": "Download File",
      "webhookId": "2627f6eb-e6f9-44d7-b943-508c8472f316",
      "credentials": {
        "githubApi": {
          "id": "Fl2CByOL57cxmHm5",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "99923f83-9a4d-467e-830e-33d7449149fb",
              "leftValue": "={{ $('Agg. to Array').item.json.github_file_names }}",
              "rightValue": "={{ $json.github_file_name }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        360
      ],
      "id": "59c9fdc6-38cf-4b28-bc41-e4a4f7959204",
      "name": "Found in github"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "No Update Detected",
        "completionMessage": "No change is detected.",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        2700,
        440
      ],
      "id": "731153ff-6185-4689-a767-df5ec5ea9eaa",
      "name": "No update detected",
      "webhookId": "1014f819-d761-42f4-afbc-f3968ad7c44a"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.id}}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        1380,
        460
      ],
      "id": "705b06d9-a17c-4752-841b-0cc34198215c",
      "name": "Find by project id",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "n8nApi": {
          "id": "YEg21SkQWfU5xHVM",
          "name": "n8n account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "values",
        "include": "specifiedFields",
        "fieldsToInclude": "id, name",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        920,
        720
      ],
      "id": "34b1f1c3-8dd4-4c30-891f-e4b49b6b62a1",
      "name": "Option aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst all_projects = $('Option aggregate').first().json.values;\nconst nameToFind = $input.first().json['Select a project']; // Replace with the name you want to find\nconst found = all_projects.find(item => item.name === nameToFind);\nreturn [{ json: { id: found ? found.id : null } }];\n\n\n// for (const item of $input.all()) {\n//   item.json.myNewField = 1;\n// }\n\n// return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        580
      ],
      "id": "093b25dd-bf59-4c13-8132-653392753f00",
      "name": "Selected id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fffbcd0c-4f17-4634-a79e-33ff6fb213e7",
              "name": "id",
              "value": "={{ $('On form submission').item.json.formQueryParameters.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        260
      ],
      "id": "6995b10c-80ad-48fd-8a2b-cea8f92bbcec",
      "name": "Pass in id"
    },
    {
      "parameters": {
        "formTitle": "Commit workflow changes",
        "formDescription": "=Commit your workflow changes into Github",
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Next",
          "path": "commit",
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        420
      ],
      "id": "f7a8e363-3c34-45a3-9f09-df06dc1f1f1a",
      "name": "On form submission",
      "webhookId": "e3f3b1db-fd8c-4eb6-8a30-eea27306b92d"
    },
    {
      "parameters": {
        "content": "## Click [here](https://your-n8n-url/form/commit?id=123456789ABC) to commit change ",
        "height": 140,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "75405b3d-8f47-4fea-901c-c2cf6dce330e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get all files from Github",
        "height": 260,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        340
      ],
      "typeVersion": 1,
      "id": "154754a1-4aa4-4c6d-9335-d1717a63172b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/alvinscloud-demo/n8n_workflows"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        160,
        420
      ],
      "id": "06490b00-8edc-4f1d-93e6-d2e589c9d57b",
      "name": "GIthub get all",
      "webhookId": "171d0104-1b96-4953-bfb3-18821c7fd7d2",
      "alwaysOutputData": false,
      "credentials": {
        "githubOAuth2Api": {
          "id": "TnWX1nOZmWRyFNwt",
          "name": "GitHub ahkc"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "github_file_names",
        "include": "specifiedFields",
        "fieldsToInclude": "name",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        320,
        420
      ],
      "id": "05699d1b-07dc-425c-b942-8dc0be49ed49",
      "name": "Agg. to Array"
    },
    {
      "parameters": {
        "content": "## With designated workflow id\nFrom form's GET argument",
        "height": 260,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        660,
        200
      ],
      "typeVersion": 1,
      "id": "81bd7995-7398-457e-a94d-a02eb548e42c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Without a designated workflow id\nFrom form's GET argument",
        "height": 360,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        660,
        520
      ],
      "typeVersion": 1,
      "id": "47d95205-be7d-4680-abc1-ab270c571498",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Prepare the latest workflow",
        "height": 440,
        "width": 660,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1560,
        280
      ],
      "typeVersion": 1,
      "id": "72913aae-6cfb-48a4-bc83-618460ba1ac6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "alvinscloud-demo",
          "mode": "list",
          "cachedResultName": "alvinscloud-demo",
          "cachedResultUrl": "https://github.com/alvinscloud-demo"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/alvinscloud-demo/n8n_workflows"
        },
        "filePath": "={{ $('Workflow Values').item.json.github_file_name }}",
        "fileContent": "={{ $('To Base64').item.json.data }}",
        "commitMessage": "={{ $json['Commit comment'] }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2820,
        680
      ],
      "id": "df899f44-b7c0-467d-8c0c-7056b7c20e5c",
      "name": "Commit new workflow",
      "webhookId": "17c8a323-88d7-4475-a062-c217639b1a66",
      "credentials": {
        "githubApi": {
          "id": "Fl2CByOL57cxmHm5",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fd9b7654-3ec7-4e91-9607-9e0caabbffdf",
              "leftValue": "={{ $json.content.replace(/\\n/g, '') }}",
              "rightValue": "={{ $('To Base64').item.json.data }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2500,
        360
      ],
      "id": "162ec906-707f-4df3-983a-f03badc83695",
      "name": "Check any update"
    },
    {
      "parameters": {
        "content": "## Update workflow if any",
        "height": 380,
        "width": 940,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        200
      ],
      "typeVersion": 1,
      "id": "bbebe164-83f0-4a35-b507-1d89473e0f95",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Commit new workflow",
        "height": 320,
        "width": 940,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        600
      ],
      "typeVersion": 1,
      "id": "406cc960-e6b7-4d68-9efe-fa7cea1dcc13",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Commit Successful",
        "completionMessage": "=Commited file name: \"{{$('Workflow Values').item.json.github_file_name}}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        3000,
        260
      ],
      "id": "82238515-9cfe-4dc5-bd89-0b87c885fbce",
      "name": "Update successful",
      "webhookId": "d684025b-1c8c-4b5f-a3eb-4780f8663785"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Commit Completed Successfully",
        "completionMessage": "=Commited file name: \"{{$('Workflow Values').item.json.github_file_name}}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        3020,
        680
      ],
      "id": "67d892e2-45e2-460c-ba62-83a61795f664",
      "name": "New Workflow Commit Successfully",
      "webhookId": "d684025b-1c8c-4b5f-a3eb-4780f8663785"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Commit comment",
              "fieldType": "textarea",
              "placeholder": "1. New sub-workflow handling ...\n2. New update on ...",
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "Commit workflow",
          "formDescription": "=Project name:  {{ $('Workflow Values').item.json.github_file_name }}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        2640,
        680
      ],
      "id": "7170771c-511b-4e84-a889-4f9d4df6faf3",
      "name": "Comment for new workflow",
      "webhookId": "8ccc5037-d4c1-4a50-900f-64fb81df1ead"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Commit comment",
              "fieldType": "textarea",
              "placeholder": "1. New sub-workflow handling ...\n2. New update on ...",
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "Commit workflow",
          "formDescription": "=Project name:  {{ $('Workflow Values').item.json.github_file_name }}",
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        2680,
        260
      ],
      "id": "446d38a2-39f8-4a7d-b2dd-6be0d27e2c09",
      "name": "Comment for commit",
      "webhookId": "8ccc5037-d4c1-4a50-900f-64fb81df1ead"
    }
  ],
  "pinData": {},
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Pass in id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Option aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Values": {
      "main": [
        [
          {
            "node": "Found in github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit as New": {
      "main": [
        [
          {
            "node": "Is commit new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is commit new": {
      "main": [
        [
          {
            "node": "Comment for new workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON File": {
      "main": [
        [
          {
            "node": "To Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Base64": {
      "main": [
        [
          {
            "node": "Workflow Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Check any update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Found in github": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Commit as New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find by project id": {
      "main": [
        [
          {
            "node": "JSON File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Project not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "Selected id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Option aggregate": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selected id": {
      "main": [
        [
          {
            "node": "Find by project id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass in id": {
      "main": [
        [
          {
            "node": "Find by project id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "GIthub get all",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GIthub get all": {
      "main": [
        [
          {
            "node": "Agg. to Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agg. to Array": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit new workflow": {
      "main": [
        [
          {
            "node": "New Workflow Commit Successfully",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check any update": {
      "main": [
        [
          {
            "node": "Comment for commit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No update detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update File": {
      "main": [
        [
          {
            "node": "Update successful",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment for new workflow": {
      "main": [
        [
          {
            "node": "Commit new workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment for commit": {
      "main": [
        [
          {
            "node": "Update File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bafcceac-f7c1-4d96-8be2-a2637b3c11b9",
  "meta": {
    "instanceId": "ce2260392adef5dfbc2d583f7d10a5c36b80d977edcf6ab3fa3618a332ea429d"
  },
  "id": "0S26eiygrcTFSAKE",
  "tags": [
    {
      "createdAt": "2025-03-17T03:25:36.433Z",
      "updatedAt": "2025-03-17T03:25:36.433Z",
      "id": "s6ExcOGOhMhD9qos",
      "name": "Prod"
    }
  ]
}